@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Do+Hyeon&family=Poor+Story&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* custom font classes */
@layer utilities {
  .font-title-en {
    font-family: "Do Hyeon", serif;
  }
  
  .font-title-ko {
    font-family: "Do Hyeon", serif;
  }
  
  .font-content {
    font-family: "Poor Story", serif;
  }
}
